<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="row">
            <label for="emailAddress">Email Address:</label>
            <input type="email" ng-model="newUser.email" class="form-control">
        </div>
        <div class="row">
            <label for="password">Password: </label>
            <input type="password" ng-model="newUser.password" class="form-control">
        </div>
        <button ng-click="createUser()">Sign Up</button>
    </div>
   

</div>